@import url(./variables.css);

body{
    display: grid;
    gap: 70px;
    background: var(--color-third);
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}
body header{
    grid-area: header;
    position: relative;
}
body main{
    display: grid;
    grid-area: main;
}
body footer{
    grid-area: footer;
}