@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Comfortaa:wght@300..700&family=Jersey+15&family=Shadows+Into+Light&display=swap');
:root{
    /* colores originales */ 
    --color-primary:#174A42;
    --color-secundary:#66FCF1;
    --color-third: #212833;
    --color-cero: #1FAFDA;
    --color-green:#C4C6C8;
    --color-fifth:#45A29E;
    --black-varian: #0B0C10;
    --color-white:#eaeef7;

    /* variantes */
    --color-primary-variante1: #2da591;
    --color-backgound: rgb(190, 210, 252);
    --color-header-back: rgb(120, 103, 136) ;
    

    /* mezclas */
    --color-fourth: linear-gradient(315deg, #4dc668 14%, #295c86 45%, #8e1e83 82%);
    --background-publications: linear-gradient(315deg, #3d8d9b 11%, #4c998c 33%, #418c8f 60%, #299c76 88%);
    --profile-content:linear-gradient(45deg, #418a99 11%, #3b8491 33%, #438296 60%, #245f69 88%);
    --prifile-content_publication:linear-gradient(167deg, #bad2ce 11%, #69b4a8 33%, #94c9c0 60%, #becdcb 88%);
    
    /* letras */
    --font-decoration: "Shadows Into Light", cursive;
    --font--body: "Cabin", sans-serif;
    --font--title: "Comfortaa", sans-serif;
    --font-pth:"Jersey 15", sans-serif;
}